* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#corFundo {
    width: 100%;
    height: 100%;
    background-color: yellowgreen;
    position: absolute;
    z-index: -1;
}


.gameBoard {
    width: 50%;
    height: 530px;
    border: 1px solid #333;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    margin-top: 0%;
}

.fundo {
    width: 110%;
    position: absolute;
}

.luva {
    position: absolute;
    bottom: 0;
    width: 80px;
}

.jump {
    animation: jump 500ms infinite ease-out;
}

.van {
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: vanAnimation linear infinite 1.5s;
}

@keyframes vanAnimation {
    from {
        right: -80%;
    }
    to {
        right: 100%;
    }
}

@keyframes jump {
    0% {
        bottom: 0px;
    }

    40% {
        bottom: 180px;
    }

    50% {
        bottom: 180px;
    }

    60% {
        bottom: 180px;
    }

    100% {
        bottom: 0px;
    }
}

